# pnpm 全局配置
shamefully-hoist=true
strict-peer-dependencies=false

# 使用淘宝镜像源（中国大陆）
registry=https://registry.npmmirror.com

# 特定包的镜像配置
@ant-design:registry=https://registry.npmmirror.com
@babel:registry=https://registry.npmmirror.com
@types:registry=https://registry.npmmirror.com
